<ac:structured-macro ac:name="toc" ac:schema-version="1"/>
<h1>Summary</h1>
<table>
  <tbody>
    <% # Compute the global counters of tests
       global_info = classify_tests(global_tests)
       platform_info = classify_tests(platform_tests)
       node_info = classify_tests(node_tests)
       success_percentage = 100.0 * (global_info[:success].size + platform_info[:success].size + node_info[:success].size).to_f / (global_tests.size + platform_tests.size + node_tests.size)
    %>
    <tr>
      <th style="text-align: center; vertical-align: middle;">Global-level tests</th>
      <th style="text-align: center; vertical-align: middle;">Platforms/repositories tests</th>
      <th style="text-align: center; vertical-align: middle;">Nodes tests</th>
    </tr>
    <tr>
      <td style="text-align: center; vertical-align: middle;">
        <ac:structured-macro ac:name="status" ac:schema-version="1">
          <ac:parameter ac:name="colour"><%= status_color(global_info[:status]) %></ac:parameter>
        </ac:structured-macro>
      </td>
      <td style="text-align: center; vertical-align: middle;">
        <ac:structured-macro ac:name="status" ac:schema-version="1">
          <ac:parameter ac:name="colour"><%= status_color(platform_info[:status]) %></ac:parameter>
        </ac:structured-macro>
      </td>
      <td style="text-align: center; vertical-align: middle;">
        <ac:structured-macro ac:name="status" ac:schema-version="1">
          <ac:parameter ac:name="colour"><%= status_color(node_info[:status]) %></ac:parameter>
        </ac:structured-macro>
      </td>
    </tr>
    <tr>
      <td style="text-align: center; vertical-align: middle;"><%= render_gauge(global_info) %></td>
      <td style="text-align: center; vertical-align: middle;"><%= render_gauge(platform_info) %></td>
      <td style="text-align: center; vertical-align: middle;"><%= render_gauge(node_info) %></td>
    </tr>
  </tbody>
</table>
<h1>Evolution</h1>
<ac:structured-macro ac:name="chart" ac:schema-version="1">
  <ac:parameter ac:name="imageFormat">png</ac:parameter>
  <ac:parameter ac:name="timeSeries">true</ac:parameter>
  <ac:parameter ac:name="dateFormat">yyyy-MM-dd HH:mm:ss</ac:parameter>
  <ac:parameter ac:name="forgive">false</ac:parameter>
  <ac:parameter ac:name="timePeriod">Second</ac:parameter>
  <ac:parameter ac:name="width">800</ac:parameter>
  <ac:parameter ac:name="dataOrientation">vertical</ac:parameter>
  <ac:parameter ac:name="type">timeSeries</ac:parameter>
  <ac:parameter ac:name="yLabel">% success</ac:parameter>
  <ac:parameter ac:name="height">300</ac:parameter>
  <ac:rich-text-body>
    <table>
      <tbody>
        <tr>
          <th>Time</th>
          <th>% success</th>
        </tr>
        <% (@previous_success_percentages + [[Time.now.utc, success_percentage]]).each do |time, percentage| %>
          <tr>
            <td><%= time.strftime('%F %T') %></td>
            <td><%= percentage %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </ac:rich-text-body>
</ac:structured-macro>
<h1>Platforms used for those tests</h1>
<table>
  <tbody>
    <tr>
      <th>Platform</th>
      <th>Commit title</th>
      <th>Commit date</th>
      <th>Commit hash</th>
      <th>Commit author</th>
    </tr>
    <% @tests.map { |test| test.platform }.uniq.compact.sort.each do |platform| %>
      <% platform_info = platform.info %>
      <tr>
        <td><strong><%= platform_info[:repo_name] %></strong></td>
        <td><%= CGI.escapeHTML(platform_info[:commit][:message]) %></td>
        <td><%= platform_info[:commit][:date].strftime('%F %T') %></td>
        <td><%= platform_info[:commit][:id] %></td>
        <td><%= CGI.escapeHTML(platform_info[:commit][:author][:name]) %> (<%= CGI.escapeHTML(platform_info[:commit][:author][:email]) %>)</td>
      </tr>
    <% end %>
  </tbody>
</table>
<h1>Stats by nodes list</h1>
<table>
  <tbody>
    <tr>
      <th style="vertical-align: middle;">Nodes list</th>
      <th style="text-align: center; vertical-align: middle;">Status</th>
      <th style="text-align: center; vertical-align: middle;"></th>
    </tr>
    <% nodes_by_nodes_list.each do |nodes_list, nodes_info| %>
      <tr>
        <td style="vertical-align: middle;">
          <strong><%= nodes_list %></strong>
          <br/>
          <ac:structured-macro ac:name="status" ac:schema-version="1">
            <ac:parameter ac:name="colour"><%=
              if nodes_info[:tested_nodes].empty?
                'Grey'
              elsif nodes_info[:tested_nodes_in_error].empty?
                'Green'
              else
                'Red'
              end %></ac:parameter>
          </ac:structured-macro>
        </td>
        <td style="text-align: center; vertical-align: middle;">
          Total: <%= nodes_info[:nodes].size %> (<%= nodes_info[:tested_nodes].size %> tested) / Errors: <%= nodes_info[:tested_nodes_in_error].size %> (<%= nodes_info[:tested_nodes_in_error_as_expected].size %> expected)
          <br/>
          <% unless nodes_info[:nodes].empty? %>
            <table>
              <tbody>
                <tr>
                  <% ((nodes_info[:tested_nodes_in_error_as_expected].size * @nbr_cells_in_status_bars.to_f) / nodes_info[:nodes].size).round.times do %>
                    <td bgcolor="#FFD351">
                      <br/>
                    </td>
                  <% end %>
                  <% (((nodes_info[:tested_nodes_in_error].size - nodes_info[:tested_nodes_in_error_as_expected].size).abs * @nbr_cells_in_status_bars.to_f) / nodes_info[:nodes].size).round.times do %>
                    <td bgcolor="#D04437">
                      <br/>
                    </td>
                  <% end %>
                  <% (((nodes_info[:tested_nodes].size - nodes_info[:tested_nodes_in_error].size) * @nbr_cells_in_status_bars.to_f) / nodes_info[:nodes].size).round.times do %>
                    <td bgcolor="#14892C">
                      <br/>
                    </td>
                  <% end %>
                  <% (((nodes_info[:nodes].size - nodes_info[:tested_nodes].size) * @nbr_cells_in_status_bars.to_f) / nodes_info[:nodes].size).round.times do %>
                    <td bgcolor="#CCCCCC">
                      <br/>
                    </td>
                  <% end %>
                </tr>
              </tbody>
            </table>
          <% end %>
        </td>
        <td style="text-align: center; vertical-align: middle;">
          <% unless (nodes_info[:tested_nodes_in_error] - nodes_info[:tested_nodes_in_error_as_expected]).empty? %>
            <ac:structured-macro ac:name="expand" ac:schema-version="1">
              <ac:parameter ac:name="title">Unexpected nodes in error</ac:parameter>
              <ac:rich-text-body>
                <div style="text-align: left;">
                  <ul>
                    <% (nodes_info[:tested_nodes_in_error] - nodes_info[:tested_nodes_in_error_as_expected]).sort.each do |node| %>
                      <li><%= node %></li>
                    <% end %>
                  </ul>
                </div>
              </ac:rich-text-body>
            </ac:structured-macro>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<h1>Global tests</h1>
<table>
  <tbody>
    <tr>
      <th style="text-align: center; vertical-align: middle;">Test</th>
      <% @global_test_names.each do |test_name| %>
        <th style="text-align: center; vertical-align: middle;"><%= test_name %></th>
      <% end %>
    </tr>
    <tr>
      <td style="text-align: center; vertical-align: middle;"></td>
      <% @global_test_names.each do |test_name| %>
        <td style="text-align: center; vertical-align: middle;">
          <%= render_status(test_name, {}) %>
        </td>
      <% end %>
    </tr>
  </tbody>
</table>
<h1>Platform tests</h1>
<table>
  <tbody>
    <tr>
      <th style="vertical-align: middle;">Platforms \ Test</th>
      <% @platform_test_names.each do |test_name| %>
        <th style="text-align: center; vertical-align: middle;"><%= test_name %></th>
      <% end %>
    </tr>
    <% @tested_platforms.each do |platform| %>
      <tr>
        <td style="vertical-align: middle;">
          <ac:structured-macro ac:name="status" ac:schema-version="1">
            <ac:parameter ac:name="colour"><%= group_errors(platform_tests.select { |test| test.platform == platform }, :test_name).empty? ? 'Green' : 'Red' %></ac:parameter>
          </ac:structured-macro>
          <strong><%= platform.info[:repo_name] %></strong>
        </td>
        <% @platform_test_names.each do |test_name| %>
          <td style="text-align: center; vertical-align: middle;">
            <%= render_status(test_name, { platform: platform }) %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<h1>Node tests</h1>
<table>
  <tbody>
    <tr>
      <th style="vertical-align: middle;">Nodes \ Test</th>
      <% @node_test_names.each do |test_name| %>
        <th style="text-align: center; vertical-align: middle;"><%= test_name %></th>
      <% end %>
    </tr>
    <% @tested_nodes.each do |node| %>
      <tr>
        <td style="vertical-align: middle;">
          <ac:structured-macro ac:name="status" ac:schema-version="1">
            <ac:parameter ac:name="colour"><%= group_errors(node_tests.select { |test| test.node == node }, :test_name).empty? ? 'Green' : 'Red' %></ac:parameter>
          </ac:structured-macro>
          <strong><%= node %></strong>
        </td>
        <% @node_test_names.each do |test_name| %>
          <td style="text-align: center; vertical-align: middle;">
            <%= render_status(test_name, { node: node }) %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<p>
  <br/>
  Generated at <%= Time.now.utc.strftime('%F %T') %> UTC by <a href="https://www.site.my_company.net/git/projects/PROJECTrepos/hybrid_platforms_conductor/browse">Hybrid Platforms Conductor</a>.
  <br/>
</p>
