<ac:structured-macro ac:name="toc" ac:schema-version="1"/>
<table>
  <tbody>
    <tr>
      <th>Node</th>
      <th>Platform</th>
      <th>Host name</th>
      <th>IP</th>
      <th>Physical?</th>
      <th>OS</th>
      <th>Description</th>
      <th>Services</th>
    </tr>
    <% @nodes_handler.prefetch_metadata_of @nodes, %i[hostname host_ip physical image description services] %>
    <% @nodes.sort.each do |node| %>
      <tr style="vertical-align: middle;">
        <td><strong><%= node %></strong></td>
        <td><%= @nodes_handler.platform_for(node).name %></td>
        <td><%= @nodes_handler.get_hostname_of(node) %></td>
        <td><%= @nodes_handler.get_host_ip_of(node) %></td>
        <td><%= @nodes_handler.get_physical_of(node) ? 'Yes' : 'No' %></td>
        <td><%= @nodes_handler.get_image_of node %></td>
        <td><%= @nodes_handler.get_description_of node %></td>
        <td><%= (@nodes_handler.get_services_of(node) || []).sort.join(', ') %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<p>
  <br/>
  Generated at <%= Time.now.utc.strftime('%F %T') %> UTC by <a href="https://www.site.my_company.net/git/projects/PROJECTrepos/hybrid_platforms_conductor/browse">Hybrid Platforms Conductor</a>.
  <br/>
</p>
