<ac:structured-macro ac:name="toc" ac:schema-version="1"/>
<table>
  <tbody>
    <tr>
      <th>Node name</th>
      <th>Platform</th>
      <th>Private IPs</th>
      <th>Public IPs</th>
      <th>Physical node?</th>
      <th>OS</th>
      <th>Cluster</th>
      <th>IP range</th>
      <th>Product</th>
      <th>Description</th>
      <th>Missing industrialization?</th>
    </tr>
    <% @nodes_handler.prefetch_metadata_of @nodes, %i[private_ips public_ips physical_node os cluster private_ips product description missing_industrialization] %>
    <% @nodes.sort.each do |node| %>
      <tr style="vertical-align: middle;">
        <td><strong><%= node %></strong></td>
        <td><%= @nodes_handler.platform_for(node).info[:repo_name] %></td>
        <td><%= (@nodes_handler.get_private_ips_of(node) || []).join(' ') %></td>
        <td><%= (@nodes_handler.get_public_ips_of(node) || []).join(' ') %></td>
        <td><%= @nodes_handler.get_physical_node_of(node) ? 'Yes' : 'No' %></td>
        <td><%= @nodes_handler.get_os_of node %></td>
        <td><%= @nodes_handler.get_cluster_of node %></td>
        <td><%= @nodes_handler.get_private_ips_of(node) ? "#{@nodes_handler.get_private_ips_of(node).first.split('.')[0..2].join('.')}.*" : '' %></td>
        <td><%= @nodes_handler.get_product_of node %></td>
        <td><%= @nodes_handler.get_description_of node %></td>
        <td><%= @nodes_handler.get_missing_industrialization_of(node) ? 'Yes' : 'No' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<p>
  <br/>
  Generated at <%= Time.now.utc.strftime('%F %T') %> UTC by <a href="https://www.site.my_company.net/git/projects/PROJECTrepos/hybrid_platforms_conductor/browse">Hybrid Platforms Conductor</a>.
  <br/>
</p>
